body {
  padding-top: 0rem;
}

a {
  text-decoration: none;
}

.topli {
  list-style: none;
}

h3 {
    font-size: large;
}

.navbardiv {
  width:100%;
  /*background-color: #e6eff0;/*#bdd2de;/*#a3c0d1;/*rgb(55, 93, 132);*/
  color: black;
  border-bottom: 2px solid #95bfc4;
}

.navbar {
  display: flex;
/*  align-items: center;*/
/*  justify-content: flex-start;*/
  padding: 10px;
  justify-content: space-between;
/*  padding: 0 18px;*/
  width:100%; max-width: 1500px;
/*  background-color: rgb(58, 86, 130);*/
/*  background-color: rgb(55, 93, 132);
/*  background-color: rgb(57, 132, 135);*/
/*  width:100%;*/
/*  color: #c9ebff;*/
  margin-left: auto;
  margin-right: auto;
/*  border-bottom: 0.5px solid black;*/
}

.nav-links {
  margin-bottom: auto;
  margin-top: auto;
}

.nav-links a {
  text-decoration: none;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0px;
}

.logo a {
  text-decoration: none;
  color: black;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu li:hover {
  background-color: #eee;
  border-radius: 5px;
  transition: 0.2s ease;
  margin-top: auto;
  margin-bottom: auto;
}

.currentpage {
  /*background-color: #eee;
  border-radius: 5px;
  text-decoration: underline;
  font-weight: bold;*/
  border: 0.5px solid #999;
  border-radius: 5px;
}

.menu li {
  padding: 5px 14px;/*
  align-items: center;
  justify-content: center;*/
  margin-top: auto;
  margin-bottom: auto;
}

.nav_defect_info {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 13px;
}

.nav_defect_info li:hover {
  background-color: white !important;
  border-radius: none !important;
  transition: none !important;
}

.nav_defect_info li {
  padding: 0px !important;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1130px) {
 .menu {
    display:none;
    position: absolute;
    background-color:white;
    right: 0;
    left: 0;
/*    width: 100%*/
    text-align: center;
    padding: 16px 0;
  }
/*  
  .logo {
    display: block !important;
  }*/

  .menu li:hover {
    display: inline-block;
    background-color: #eee;
    border-radius: 0px;
  }

  .menu li + li {
    margin-top: 15px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block !important;
  }
  
  .hamburger {
    display: block !important;
  }
  
  .nav_defect_info {
    display: none;
  }
}

.sh_button {
  font-family: Arial, Helvetica, sans-serif;
/*  font-family: monospace; 
/*  background-color: white;*/
  color: black;
  border: 0.5px solid #777;
  border-radius: 3px;
  margin: 1px;
  padding: 2px 5px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
/*  border: none;*/
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.modal-body {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.btn-close {
  position: absolute;
  right: -60px;
  top: -24px;
  font-size: 1rem;
  font-weight: normal;
  opacity: 1;
}

nav a.current {
  background:darkblue;
  color:white;
}

