<section class="page-header" style="background-image: linear-gradient(120deg, #e6eff0, #fefff0); border-width: 1px 0px 1px 0px; border-color: black; border-style: solid; margin: 0px 0px 1em 0px;">
  <div style="max-width: 1140px; margin: 0px auto 0px auto; padding: 1em 1em 0.5em 1em">
  <h1 style="display: inline;" class="project-name"><img alt="Anyterial Logo" src="img/anyterial_logo_color.svg" style="width:150px"></h1>
  <h2 style="display: inline; font-size: 50px" class="project-tagline"><b>Anyterial</b></h2>
  <p>Anyterial is a portal to various materials databases related to the <a href="https://httk.org">High-Throughput Toolkit (httk)</a> and resources for materials science and computational materials design. For more information, see our <a href="about">about page.</a></p>
  </div>
</section>
<div class="container">
  <main class="main-content">
    {content}
  </main>
</div>
